<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{question0}}
    <br>
    {{point0}}
    <br>
    {{types0}}
    <br>
    {{choix0}}
    <br>
    {{reponse0}}
    <br>
    {{explication0}}
    <br>
    <br>
    <br>
    {{question1}}
    <br>
    {{point1}}
    <br>
    {{types1}}
    <br>
    {{choix1}}
    <br>
    {{reponse1}}
    <br>
    {{explication1}}
    <br>
    <br>
    <br>
    {{question2}}
    <br>
    {{point2}}
    <br>
    {{types2}}
    <br>
    {{choix2}}
    <br>
    {{reponse2}}
    <br>
    {{explication2}}
    <br>

</body>
</html>